@model AnswerOverviewViewModel

@{
    ViewBag.Title = "Overview";
}

@section SkillNameMenu{
	@Html.Action("SkillNameMenu", "Home", new { skillId = Model.SkillId })
}
@section MainMenu{
	@Html.Action("MainMenu", "Home", new { skillId = Model.SkillId })
}

<h2>Overview</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Anwort</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		@foreach (AnswerOverviewItemViewModel answer in Model.Answers)
		{
			<tr>
				<td>@answer.Answer</td>
				<td class="text-right">
					<a href="@Url.Action("EditAnswer", "CoreTemperature", new { skillId = Model.SkillId, answerId = answer.Id})" class="btn btn-success" style="margin-bottom:5px;">Bearbeiten</a>
					<a href="@Url.Action("EditAnswerCalls", "CoreTemperature", new { skillId = Model.SkillId, answerId = answer.Id})" class="btn btn-success" style="margin-bottom:5px;">Aufrufe</a>
				</td>
			</tr>
		}

	</tbody>
</table>

<a href="@Url.Action("EditAnswer", "CoreTemperature", new { skillId = Model.SkillId})" class="btn btn-success">Anlegen</a>