@model TemperatureEditViewModel

@{
    ViewBag.Title = "EditTemperature";
}

<h2>EditTemperature</h2>

@using (Html.BeginForm("EditTemperature", "CoreTemperature", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", style = "padding-top:30px;" }))
{
	@Html.HiddenFor(x => x.SkillId);
	@Html.HiddenFor(x => x.TemperatureId);

	<div class="form-group">
		@Html.LabelFor(x => x.Name, new { @class = "col-sm-2 control-label" })
		<div class="col-sm-10">
			@Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
			@Html.ValidationMessageFor(x => x.Name)
		</div>
	</div>

	<table class="table">
		<tr>
			<th></th>
			<th>Direkt</th>
			<th>Von</th>
			<th>Bis</th>
		</tr>
		<tr>
			<th>Direkt</th>
			<td>@Html.TextBoxFor(x => x.DefaultDegree, new { @class = "form-control" })</td>
			<td>@Html.TextBoxFor(x => x.DefaultMinDegree, new { @class = "form-control" })</td>
			<td>@Html.TextBoxFor(x => x.DefaultMaxDegree, new { @class = "form-control" })</td>
		</tr>
		<tr>
			<th>Blutig</th>
			<td>@Html.TextBoxFor(x => x.RareDegree, new { @class = "form-control" })</td>
			<td>@Html.TextBoxFor(x => x.RareMinDegree, new { @class = "form-control" })</td>
			<td>@Html.TextBoxFor(x => x.RareMaxDegree, new { @class = "form-control" })</td>
		</tr>
		<tr>
			<th>Medium</th>
			<td>@Html.TextBoxFor(x => x.MediumDegree, new { @class = "form-control" })</td>
			<td>@Html.TextBoxFor(x => x.MediumMinDegree, new { @class = "form-control" })</td>
			<td>@Html.TextBoxFor(x => x.MediumMaxDegree, new { @class = "form-control" })</td>
		</tr>
		<tr>
			<th>Durch</th>
			<td>@Html.TextBoxFor(x => x.DoneDegree, new { @class = "form-control" })</td>
			<td>@Html.TextBoxFor(x => x.DoneMinDegree, new { @class = "form-control" })</td>
			<td>@Html.TextBoxFor(x => x.DoneMaxDegree, new { @class = "form-control" })</td>
		</tr>
	</table>

	<div class="text-right">
		<button type="submit" class="btn btn-success">Speichern</button>
		<a href="@Url.Action("Overview", "CoreTemperature", new { skillId = Model.SkillId})" class="btn btn-default">Abbrechen</a>
	</div>
}