@model IntentCallEditViewModel

@{
    ViewBag.Title = "DeleteConfirm";
}
@section SkillNameMenu{
	@Html.Action("SkillNameMenu", "Home", new { skillId = Model.SkillId })
}
@section MainMenu{
	@Html.Action("MainMenu", "Home", new { skillId = Model.SkillId })
}
<h2>Call löschen</h2>

<div class="row">
	<div class="col-md-12">
		<strong>Wollen Sie die Nachricht wirklich löschen?</strong><br /><br />
		@Model.CallText
		<hr />
		
		<a href="@Url.Action("Delete", "IntentCall", new { id = Model.IntentCallId})" class="btn btn-danger">Löschen</a>
		<a href="@Url.Action("Detail", "Intent", new { id = Model.IntentId})" class="btn btn-info">Abbrechen</a>
	</div>
</div>
